.main-nav {
    height: 70px;
    padding-left: 24px;
    display: flex;
}

.main-nav div {
    display: flex;
    align-items: center;
    
}

.nav-logo-text,
.nav-logo-text:hover {
  color: #00285f;
  display: flex;
}

.main-menu {
  font-size: 18px;
  width: 280px;
  display: flex;
  justify-content: space-between;
}

.main-menu li a {
  font-weight: 400;
}

.main-menu li a:hover, 
.main-menu li .active {
  font-weight: 700;
}
